<div class="jumbo">
	<h3>Your search:</h3>
	<div class="detail data">
		<span>From:</span><b>{{originRecord.name}}</b>
	</div>
	<div class="detail data">
		<span>To:</span><b>{{destinationRecord.name}}</b>
	</div>
	<div class="detail data">
		<span>Departing on:</span>
		{{date-formatter criteria.departure format="YYYY-MM-DD" }}
	</div>
	{{#if (eq criteria.roundTrip 'true')}}
		<div class="detail data">
			<span>Returning on:</span>
			{{date-formatter criteria.return format="YYYY-MM-DD" }}
		</div>
	{{/if}}
	<div class="detail data">
		<span>{{criteria.adults}} 
			{{#if (gt criteria.adults 1)}}adults{{else}}adult{{/if}}
			{{#if (gt criteria.children 0)}} {{criteria.children}} children {{/if}}
		</span>
	</div>

	{{#if (eq selection.departureFlight null)}}
		<h3>Select your Flight</h3>
	{{else}}
		<h3>Your selection:</h3>
		<div class="detail data">
			<span>Departure:</span>
		</div>
		<div class="detail data">
			Flight <b>{{selection.departureFlight.id}}</b>
			operated by <b>{{selection.departureFlight.airline}} </b>
			flying from <b>{{selection.departureFlight.origin}}</b>
			to <b>{{selection.departureFlight.destination}}</b>
			on <b>{{date-formatter selection.departureFlight.departure null}} </b>
		</div>
		{{#unless (eq selection.returnFlight null)}}
			<div class="detail data">
				<span>Return:</span>
			</div>
			<div class="detail data">
				Flight <b>{{selection.returnFlight.id}}</b>
				operated by <b>{{selection.returnFlight.airline}} </b>
				flying from <b>{{selection.returnFlight.origin}}</b>
				to <b>{{selection.returnFlight.destination}}</b>
				on <b>{{date-formatter selection.returnFlight.departure null}} </b>
			</div>
		{{/unless}}
		<div class="detail data">
			<span>Total:</span><b>${{money-formatter selection.totalCost}}</b>
		</div>
		<div>
			<button type="button" {{action "clearSelectedFlight"}} class="btn btn-primary">Clear Selection</button>
			{{#if selection.enableBooking}}
				<button type="button" class="btn btn-primary">Book Now</button>
			{{/if}}
		</div>
		
	{{/if}}
</div>

{{#unless selection.enableBooking}}
	{{flight-listing flights=model selectFlight="selectFlight"}}  
{{/unless}}

