<div class="jumbo">
  <b>Your search:</b>
   <div class="detail data">
      <span>From:</span><b>{{origin.name}}</b>
    </div>
    <div class="detail data">
      <span>To:</span><b>{{destination.name}}</b>
    </div>
    <div class="detail data">
      <span>Departing on:</span>
		{{date-formatter criteria.departure format="YYYY-MM-DD" }}
    </div>
     <div class="detail data">
      <span>{{criteria.adults}} 
      	{{#if (gt criteria.adults 1)}}adults{{else}}adult{{/if}}
      	{{#if (gt criteria.children 0)}} {{criteria.children}} children {{/if}}
      </span>
    </div>

    {{#if (eq criteria.selectedFlight '')}}
    		<h3>Select your Flight</h3>
    {{else}}
    		<h3>Selected Flight</h3>
		{{criteria.selectedFlight}}
    {{/if}}

  <!--<div class="left">
         <label for='order' class="sr-only">Order</label>
 	  <select id="order" class="form-control input-sm">
 	         <option selected="selected">PRICE (LOWEST)</option>
 		   <option>PRICE (HIGHEST)</option>
 		   <option>DURATION (SHORTEST)</option>
 		   <option>DURATION (LONGEST)</option>
 		   <option>ARRIVAL (EARLIEST)</option>
 		   <option>ARRIVAL (LATEST)</option>
 	   </select>
   </div> -->



</div>

{{flight-listing flights=model selectFlight="selectFlight"}}  

